# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Flask
instance/
.flaskenv

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log*.class
mysql-connector-j-26.7.0.jar